<!-- 
#####	Author: Daniel Sundström	#####
#####	Date: July 13, 2011 - Jul:07:37#####
#####	License: MIT License		#####
-->
<h1>Secure Cookies</h1>
<p>
	If you are visiting this on a secure connection, you'll see values in the fields when clicking <a href="/read">this</a> link.
</p>