<!--
#####	Author: Daniel Sundström	#####
#####	Date: July 13, 2011 - Jul:07:30#####
#####	License: MIT License		#####
-->
<h2>Only secure connections see values</h2>
<input type="text" value="<%= cookies[:value1] %>" />
<br />
<input type="text" value="<%= cookies[:value2] %>" />