<!--
#####	Author: Daniel Sundström	#####
#####	Date: July 13, 2011 - Jul:07:32#####
#####	License: MIT License		#####
-->
<h1>Client-based Reload</h1>
<p>This page will refresh every 5 seconds.</p>
<p>Current server-time is: <%= Time.now.to_s %></p>