<h1>Edit <%= @post.title %></h1>
<%= form_tag(public_path(@post.title), {:method => :put}) do %>
	<textarea name="post[body]" rows="10" cols="50"><%= @post.body %></textarea>
	<br />
	<input type="submit" value="Save" /> or <a href="<%= public_path(@post.title) %>">cancel</a>
<% end %>