<!--
#####	Author: Daniel Sundström	#####
#####	Date: July 13, 2011 - Jul:07:27#####
#####	License: MIT License		#####
-->
<h1>Digest Auth</h1>
<p>Clicking <a href="/secure">this</a> link will require authentication. The password is 'washington', the username is 'ninja'.</p>