<!-- 
#####	Author: Daniel Sundström	#####
#####	Date: July 13, 2011 - Jul:07:54#####
#####	License: MIT License		#####
-->
<h3>The image below is dynamically generated</h3>
<p>It shows the current server-time in epoch</p>
<img src="/time" />